{% load i18n %}{% autoescape off %}
<p>
  {% blocktrans %}You're receiving this email because you requested a password reset for your Bicultural Tool user account.{% endblocktrans %}
</p>
<p>
  {% trans "Please go to the following page and choose a new password:" %}
</p>

<p>
  {% block reset_link %}
  <a href="{{ protocol }}://{{ domain }}/#{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}/#{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
  {% endblock %}
</p>

<p>
  {% trans "Thank you for using the Bicultural Tool." %}
</p>

<p>
  {% blocktrans %}The Bicultural Tool team{% endblocktrans %}
</p>

{% endautoescape %}
