html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #403c3c;
}

h1, h2, h3, h4, h5, h6, p, div, input, .btn, a, span, small, label {
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}


.viewer-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* sidepanel drag and drop */
.scroll-div{
  max-height: 900px;
  /* overflow-x: scroll; */
}

.width-inherit{
  width: inherit;
}

.handle {
  cursor:grabbing;
}

.pointer {
  cursor: pointer;
}

.delete-element {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-element{
  border-radius: 0.2rem 0.2rem 0 0;
  font-size: 10px;
  background-color: #988e8e;
}

.align-center {
  text-align: center;
}

.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
/* @media screen and (orientation:landscape) { */
.map {
  height: 100vh;
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 2px solid #403C3C;
  border-right: 2px solid #403C3C;
  border-left: 2px solid #403C3C;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* } */
/* @media screen and (orientation:portrait) { */
.map-top{
  height: 40vh !important;
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
  border-bottom: 2px solid #403C3C;
  border-right: 2px solid #403C3C;
  border-left: 2px solid #403C3C;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* } */
.content-info {
  height:100vh;
  width: 100vw;
  padding: 0 !important;
  margin: 0 !important;
}

.bottom-shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 10;
}

.background-picture {
  height: 60vh;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ol-custom{
  z-index: 99;
  margin-top: .5em;
  right: .5em;
}

.loading-background {
  position: absolute;
  background: rgba(0,0,0,0.5);
  color: #fff;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 1000;
}

.loader-loading {
  position:fixed;
  top: 50%;
  /* left: 58%; */
  z-index: 1001;
  border: 8px solid #878282; /* Light grey */
  border-top: 8px solid #ecf1f4; /* Blue */
  border-bottom: 8px solid #ecf1f4; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-info {
  position: fixed;
  top: 58%;
  /* left: 54%; */
  z-index: 1102;
  color: white;
}

.navbar {
  background-color: #303131;
  padding: 1rem 1.2rem;
  height: 55px;
  align-content: center;
}

.uploadmedia-loading {
    background-image: url(../../static/img/loading.gif);
    background-size: 30px 30px;
    background-position:center center;
    background-repeat: no-repeat;
}

/* Upload dataset */

.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: #F7F9FA;
  color: dimgray;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

.dropbox:hover {
  background: #EEF1F5; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  vertical-align: middle;
  padding: 50px 0;
}

.sidebar-line {
  display: block !important;
  padding-right: 20px !important;
}

.popover {
  max-width: none !important;
}
.feature-popup {
  max-width: 350px !important;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}
.popover-header {
  font-size: 0.9rem;
}

.popover-body {
  font-size: 0.8rem;
  max-height: 400px;
  overflow-y: auto;
}

.popover-body p {
  margin-bottom: 0px;
}

.close{
  position: relative;
  bottom: 3px;
}

.ol-attribution {
  margin-right: 10px;
}

.resolution-box {
  background-color: rgba(0,60,136,0.5);
  /* background: rgba(0,0,0,0.5); */
  color: #fff;
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding:5px 10px 5px 10px;
  margin: 0;
  font-size: 15px;
  border-radius: 3px;
  z-index: 99;
}

.resolution-box p {
  margin-bottom: 0px;
}

.layer-options a {
  padding-left: 10px;
  padding-bottom: 0;
}

.layer-info {
  color: rgb(26, 27, 26);
}

#legend {
  background-color: rgba(0,60,136,0.5);
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.14em;
}

#collapse-legend .card-body {
  background-color: #ffffff;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 20px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.8; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(0,60,136,0.8);
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: rgba(0,60,136,0.8);
  cursor: pointer; /* Cursor on hover */
}

.svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin: 3px;
}

.custom-ql-editor .ql-editor  {
  min-height: 100px;
  font-size: 14px;
  background-color: white;
  border-radius: 0 0 0.2rem 0.2rem;
}

.ql-toolbar {
  background-color: white;
  border-radius: 0.2rem 0.2rem 0 0;
}
.inline-text{
  display:inline-grid;
}
.ellipsis-text {
  width: 170px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display:inline-block;
}

#sidePanel {
  height:100vh;
  width: 100vw;
  position: relative;
  overflow-y: scroll;
  background-color: #edeee9;
  padding-left: 0px;
  padding-right: 0px;
}

.clear {
  clear: both;
  height: 150px;
}

.sidepanel-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #303131;
  padding: 10px;
}

.delete-element {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-element{
  border-radius: 0.2rem 0.2rem 0 0;
  font-size: 10px;
  background-color: #988e8e;
}

.story-elem-img {
  max-width: 70%;
  max-height: auto;
  /* border-radius: 3px;
  border: solid 2px #b6aeaa; */
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(1,1,1,0.01);
  padding: 5px;
}

.story-elem-video {
  max-width: 70%;
  max-height: auto;
}

.media-caption {
  color: #867c7c;
  font-size: 13px;
  margin-top: 5px;
}

.story-summary {
  font-style: italic;
}

.story-elem-geom {
  max-width: 100%;
  border: solid 1px #ced4da;
  border-radius: 0.2rem;
  background-color: #F1F3F4;
}

.draw-buttons {
  top: 7.8em;
  left: 0.5em;
  z-index: 1000;
}

.draw-img {
  max-width:100%;
  padding: 5px;
}

.modal-margin-top {
  margin-top: 6em;
}

/* Quill style for DOM */
.ql-align-right {
  text-align: right;
}
.ql-align-left {
  text-align: left;
}
.ql-align-justify {
  text-align: justify;
}
.ql-align-center {
  text-align: center;
}
.ql-size-small {
  font-size: 0.75em;
}
.ql-size-large {
  font-size: 1.5em;
}
.ql-size-huge {
  font-size: 2.5em;
}
.ql-text a {
  color: #06c !important;
}

.ql-text p {
  margin-bottom: 0;
}
/* Quill style for DOM */

/* .geometry-info-section {
  position: absolute;
  bottom: 60px;
  z-index: 99;
} */

/* .geometry-info {
  background-color: rgba(255, 255, 255, 1);
  border: solid 3px rgba(0, 60, 136, 0.5);
  border-radius: 3px;
} */

/* .geometry-info-detail {
  max-height: 100px;
  overflow-y: scroll;
  overflow-x:hidden;
} */

/* .geometry-save-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.geometry-cancel-btn {
  position: absolute;
  bottom: 10px;
  left: 10px;
} */

.positioner-magnify {
  cursor: pointer;
  top: 45%;
  left: 46%;
  position: absolute;
  opacity: 0.5;
}

.magnify-modal {
  background: linear-gradient(112deg, #fffdee 25%, #faf9f5 25%, #faf9f5 50%, #fffdee 50%, #fffdee 75%, #faf9f5 75%, #faf9f5 100%);
  background-size: 6.47px 16.02px;
  /* z-index: 2000; */
}

.icon-background {
    color: #c0ffc0;
}

.positioner-delete {
  cursor: pointer;
  top: 40%;
  left: 47%;
  position: absolute;
}

.positioner:hover {
  opacity: 1;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  max-height: 250px;
  width: auto;
}

.geometry-name {
  font-size: 16px;
}

.app-title {
  font-size: 16px;
}

.geometry-media-section {
  height:100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.2);
  padding-top: 10px;
}

.geometry-media {
  max-width: 100%;
  max-height: 230px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(0,0,0,0.0.8);
  padding: 5px;
}

.geom-usage {
  color:#343737;
}

/* toggle menu */

.ol-overlay.menu
{	width: 100%;
  height: 380px;
	background: #fff;
	color: #333;
	box-shadow: 0px 0px 5px #000;
	padding: 0.5em;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
  z-index: 100;
  top: unset !important;
}
/* @media screen and (min-width: 768px) {
  .ol-overlay.menu {
    height: 400px; } }
@media screen and (max-width: 768px) {
  .ol-overlay.menu {
    height: 400px; } } */
@media (max-width: 768px) {
  .btn {
    font-size:11px;
    /* padding:4px 6px; */
  }
  .ol-overlay.menu {
    height: 100%;
    /* overflow-y: auto; */
  }
  #sidePanel {
    padding-bottom: 60%;
  }

}

@media (min-width: 768px) {
  .btn {
    font-size:12px;
    /* padding:6px 12px; */
  }
}

@media (min-width: 992px) {
  .btn {
    font-size:14px;
    /* padding:8px 12px; */
  }
}
/*
@media (min-width: 1200px) {
  .btn {
    padding:10px 16px;
    font-size:18px;
  }
} */
/* menu button */
.ol-control.menu
{	top: 0.5em;
	left: 0.5em;
}
.ol-control.menu i
{	color: #fff;
}

/* Login */
#loginModal .modal-content {
  background-color: rgba(1,1,1,0) !important;
  border: none;
}
#loginModal .modal-header {
  padding: 1.5rem 1.5rem;
  border: none;
}
#loginModal .user_card {
  height: 400px;
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: #E8D2B3;
  /* #e8e5df; */
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  border: solid 3px;

}
.brand_logo_container {
  position: absolute;
  height: 170px;
  width: 170px;
  top: -75px;
  border-radius: 50%;
  background: #c0392b;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #c0392b !important;
  color: white !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
#loginModal .input-group-text {
  background: #c0392b !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
#loginModal .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #EDEEE9;
  /* z-index: 1000; */
  z-index: 997;
}

.welcome-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 3rem 10rem;
  color: rgb(247, 249, 250, 0.7);
  vertical-align: middle;
}

.welcome {
  font-size: 4rem;
  font-weight: 100;
}

.proverb {
  font-size: 2rem;
  font-weight: 300;
}
